:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;

    --color-border: #DEE2E6;
    --color-primary: rgb(46, 46, 255);
    --color-white: #ffffff;
    --color-title: #5a5a5a;
    --color-text: #343A40;

    --border-radius: 12px;

    --weight-title: 500;
    --weight-text: 400;
}

/* ==================================*/

.page {
    background: var(--color-white);
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 1200px;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 80px;
}


/* ================================== */

.header {
    padding: var(--space-l) 0;

    border-bottom: 1px solid var(--color-border);

    display: flex;

    justify-content: space-between;
}

.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);
    width: var(--space-l);
    height: var(--space-l);
    border-radius: calc(var(--border-radius) / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}


.nav {
 display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
 color: var(--color-text);
 font-size: var(--size-d);
 text-decoration: none;

 line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}


.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);

    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);

    display: block;

    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);

    display: block;
    margin-bottom: var(--space-l);
}

.main {
display: flex;

justify-content: space-between;

flex-direction: row-reverse;

gap: 80px;
align-items: flex-start;

padding: var(--space-b);
border-bottom: 1px solid var(--color-border);
}


.main_image {
width: 500px;
height: 500px;
border-radius: var(--border-radius);
}

.main_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    padding: 50px 0;
}

.main_title {
    font-size: 50px;
    color: var(--color-title);
    font-weight: var(--weight-title);
    line-height: 120%;
    max-width: 600px;
}

.main_text {
    color: var(--color-text);
    font-size: var(--size-l);
    font-weight: var(--weight-text);
    line-height: 170%;
    word-break: normal;
    max-width: 600px;
}

.main_button {
    display: block;
    padding: var(--space-m) var(--space-xm);
    color: var(--color-white);
    font-size: var(--size-d);
    text-decoration: none;
    background-color: #6c757d;
    border-radius: 4px;
    max-width: 120px;
    ;
}

.featured {
    display: flex;
    gap: var(--space-b);
    justify-content: space-between;

    padding: var(--space-b);
    border-bottom: 1px solid var(--color-border);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: var(--space-l);
}

.card_image {
    height: 64px;
    width: 64px;
    border-radius: 12px;
    gap: 10px;
    
}

.card_title {
    font-size: 32px;
    font-weight: var(--weight-title);
}

.card_text {
    font-weight: var(--weight-text);
    font-size: var(--size-d);
    color: var(--color-text);
    max-width: 288px;
}

.button {
    display: inline-block;
    font-size: var(--size-d);
   
}

.card_button {
    color: var(--color-primary);
    background-color: var(--color-white);
    border-radius: var(--border-radius);
}

.button:hover {
    opacity: 0.7;
}

.actions {
    display:flex;
    justify-content: space-between;
    background-color: #563d7c;
    padding: 24px;
    border-radius: 8px;
    gap: 16px;

}

.actions_content {
    display: flex;
    flex-direction: column;
}

.actions_title {
    font-weight: var(--weight-text);
    font-size: 24px;
    color: var(--color-white);
}

.actions_button {
    padding: 16px 100px 16px 100px;
    background: var(--color-white);
    border-radius: 5px;
    margin: 12px 0;
    color: var(--weight-title);
    text-decoration: none;
} 