:root {
    --space-s: 8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #DEE2E6;
    --color-primary: rgb(46, 46, 255);
    --color-white: #ffffff;
    --color-title: #5a5a5a;
    --color-text: #343A40;

    --border-radius-d: 12px;
    --border-radius-s: 4px;

    --weight-title: 600;
    --weight-text: 400;
}