{{#with data}}

{{#with footer}}
         <div class="Copyright">
            <span class="footer_copyright">{{copyright}}</span>
        </div>
        {{#each pages}}
       <div class="pages">
        <a href="{{path}}" class="path">{{name}}</a>
       </div>
        {{/each}}
     {{/with}}
     
     {{/with}}
